[user]
	email = {{mail}}
	name = {{displayName}}
	signingkey = {{gpgKey}}
[alias]
	outgoing = log --pretty=oneline --abbrev-commit --graph @{u}..
	incoming = !git fetch && git log --pretty=oneline --abbrev-commit --graph ..@{u}
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[credential]
	helper = cache
[pull]
	rebase = true
[init]
	defaultBranch = main
