[ui]
username = {{displayName}} <{{mail}}>
editor = vim
merge = internal:merge3

[pager]
pager = LESS='FRX' less

[extensions]
mq =
shelve =
transplant =
pager =
# enable color extension
color =
# enable extdiff extension (Extended Diff)
hgext.extdiff =
purge =
graphlog =

[extdiff]
# configure extended diff to use colordiff (requires colordiff installed in your system)
cmd.cdiff = colordiff
opts.cdiff = -uprN

[color]
# configure colors for each possible hg status
status.modified = blue bold
status.added = green bold
status.removed = red bold
status.deleted = cyan bold
status.unknown = magenta bold
status.ignored = white bold
# and for hg diff output also
diff.diffline = bold
diff.extended = cyan bold
diff.file_a = red bold
diff.file_b = green bold
diff.hunk = magenta
diff.deleted = red
diff.inserted = green
diff.changed = white
diff.trailingwhitespace = bold red_background

[defaults]
# suppress noisy extdiff header message
cdiff = -q
